<div
  class="container"
  [class.open]="settingsOpen"
  (pointerdown)="$event.stopPropagation()"
>
  <div class="icon" [class.open]="settingsOpen">
    <i
      class="fa-solid fa-wrench"
      [class.open]="settingsOpen"
      (click)="toggleSettings()"
    ></i>
  </div>
  <div class="settings" [class.open]="settingsOpen">
    <h1>Settings</h1>
    <div class="ld" [class.dark]="darkMode" (click)="toggleDarkMode()">
        <i class="fa-solid fa-circle-half-stroke"></i>
    </div>
    @for (option of options; track $index) {
      <div class="option">
        <label for="color-{{ $index }}">{{ option.label }} :</label>
        <input
          id="color-{{ $index }}"
          type="color"
          [value]="option.color()"
          (input)="updateColor($index, $event)"
        />
      </div>
    }
    @for (timeOption of timeOptions; track $index) {
      <div class="option">
        <label for="time-{{ $index }}">{{ timeOption.label }} :</label>
        <div>
          <input
            id="time-{{ $index }}"
            type="text"
            inputmode="numeric"
            maxlength="3"
            pattern="[0-9]{1,3}"
            [value]="timeOption.value() / 60"
            (keypress)="validateNumber($event)"
            (change)="updateTime($index, $event)"
          />

          min
        </div>
      </div>
    }
    <div class="option">
      <label for="pomodoro-count">Pomodoros :</label>
      <div>x
        <input
          id="pomodoro-count"
          type="text"
          inputmode="numeric"
          maxlength="2"
          pattern="[0-9]{1,2}"
          [value]="pomodoros()"
          (keypress)="validateNumber($event)"
          (change)="updatePomodoros($event)"
        />
      </div>
    </div>
    <button (click)="resetToDefault()">Reset to Default</button>
  </div>
</div>
